# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Intermediate/
.vs/

# Solution
twGraphics.sln

# Project files
twGraphics/twGraphics.vcxproj
twGraphics/twGraphics.vcxproj.filters
twGraphics/twGraphics.vcxproj.user
